<style>
    .button {
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button1 {
        background-color: #4CAF50;
        display: flex;
        flex-wrap: wrap;
        width: 140px;
        padding: 10px;
    }

    /* Green */
    .button2 {
        background-color: #008CBA;
    }
    /* Blue */
    span {
        display: block;
        margin: 0;
        word-break: keep-all;
        text-align: center;
      }
</style>
<form action="{% url 'addnode' %}" method="post">
    {% csrf_token %}
    <input type="text" name="text" required />
    <input type="submit" name="create node" value="create node" />
</form>
<button onclick="reset()"> reset concept map </button>
<script>
    function reset()
    {
        fetch('/mindmap/reset_db/',{
            method:'POST',
            headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
            
        }
        })
        .then( response => {location.reload()} )
    }
</script>
{% if is_add_node %}
    {% load static %}
    CLICK TO ADD NODES
    <script src="{% static 'js/mouse.js' %}"></script>
    {% endif %}
<div style="width:1000;height: 1000; border-style: solid; top: 75; position: fixed;" >
    <svg width="100%" height="100%">
        {% for line in lines %}
        <!-- <line x1={{line.x1}} y1={{line.y1}} x2={{line.x2}} y2={{line.y2}} stroke="black"/> -->
        <line x1={{line.x1}} y1={{line.y1}} x2={{line.x2}} y2={{line.y2}} stroke="black"  stroke-width="4" stroke-linecap="butt" />
        {% endfor %}
        

    </svg>
    
    
    {% for node in nodes %}
    <button class="button button1" style="position:fixed; left: {{node.x }} ; top:{{node.y}}"
        onclick="myFunction{{node.id}}()">{{node.text}}</button>
    <script>
        function myFunction{{ node.id }}(){
            fetch('/mindmap/add_relation/', {
        method: 'POST',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ id:{{node.id}} })
    })
        .then(response => { location.reload() })
        }
    </script>
    {% endfor %}

</div>
